  
#results
  - @results.each do |r|
    .result
      %a#name{:href=> "http://twitter.com/#{r.from_user}"}
        = r.from_user
      .text= r.text
      %a{:href=> "http://twitter.com/#{r.from_user}/status/#{r.id}"}View
      %img{:src=> r.profile_image_url, :height=> 73, :width => 73}
      
%input.toggle{:type=>"button",:value =>"Update search query", :toggletarget=>"#update_keywords"}
#update_keywords.hidden
  %form{:action=> "/search/keywords",:method => "post"}
    = token_tag
    %input#reset{:type=>"button", :value=> "reset"}
    %input#keywords{:type=> "text", :name=> "keywords",:value => @keywords, :size =>50}
    %input{:type=> "submit"}
    %input#defaults{:type=>"hidden",:name=>"defaults",:value => KEYWORDS}
  

